@{
var Usuario = WebSecurity.CurrentUserName;

    Layout = "~/Inicio/_ConfluenciaLayout.cshtml";
    var db = Database.Open("IntranetConnectionNew");

var sql =@"SELECT   LSS.IDSOCIO,
                    LSS.NOMBRES,
                    LSS.APELLIDO,
                    LSS.APODO,
                    LSS.COBRO,
                    LSS.NOMBRES + ' ' + LSS.APELLIDO + CASE WHEN LSS.APODO IS NULL THEN '' ELSE ' ( ' + LSS.APODO + ' )' END AS 'DATOS_SOCIO' 
                    FROM LA_SARITA_LIST_SOCIOS LSS 
                    WHERE 
                    LSS.COBRO = 1 
                    ORDER BY 
                    LSS.NOMBRES,
                    LSS.APELLIDO";
var socios = db.Query(sql);

  

}
<div class="row g-2 mb-3">
    <div class="col-lg-3 col-md-6 col-sm-6"><span class="icon-list-item d-none">Informes</span>
         <div class="border border-300 rounded-2 p-3 mb-2 text-center bg-white dark__bg-1000 shadow-sm">
          <img class="me-2" src="~/assets/img/reportGradient.png" alt="" width="90" height="95"/>
           <a class="btn btn-outline-primary mt-2 text-center w-100 " href="Informes/InformesInicio.cshtml" >Informes</a>
        </div>
  </div>
      <div class="col-lg-3 col-md-6 col-sm-6"><span class="icon-list-item d-none">Vencimientos</span>
         <div class="border border-300 rounded-2 p-3 mb-2 text-center bg-white dark__bg-1000 shadow-sm">
          <img class="me-2" src="~/assets/img/calendarGradient.png" alt="" width="90" height="95"/>
           <a class="btn btn-outline-primary mt-2 text-center w-100 " href="Vencimientos/Eventos.cshtml" >Vencimientos</a>
        </div>
  </div>
      <div class="col-lg-3 col-md-6 col-sm-6"><span class="icon-list-item d-none">Habilitados</span>
         <div class="border border-300 rounded-2 p-3 mb-2 text-center bg-white dark__bg-1000 shadow-sm">
          <img class="me-2" src="~/assets/img/Gradient/skillsGradient.png" alt="" width="90" height="95"/>
           <a class="btn btn-outline-primary mt-2 text-center w-100 " href="Habilitados/RecepcionConsulta.cshtml" >Habilitados</a>
        </div>
  </div>
   <div class="col-lg-3 col-md-6 col-sm-6"><span class="icon-list-item d-none">Tesoreria</span>
         <div class="border border-300 rounded-2 p-3 mb-2 text-center bg-white dark__bg-1000 shadow-sm">
          <img class="me-2" src="~/assets/img/Gradient/brokerageGradient.png" alt="" width="90" height="95"/>
           <a class="btn btn-outline-primary mt-2 text-center w-100 " href="Tesoreria/TesoreriaInicio.cshtml" >Tesoreria</a>
        </div>
  </div>
   <div class="col-lg-3 col-md-6 col-sm-6"><span class="icon-list-item d-none">La Sarita</span>
         <div class="border border-300 rounded-2 p-3 mb-2 text-center bg-white dark__bg-1000 shadow-sm">
          <img class="me-2" src="~/assets/img/Gradient/LaSarita.png" alt="" width="72" height="95"/>
           <a class="btn btn-outline-primary mt-2 text-center w-100 " href="~/LaSarita/LaSarita_Dashboard.cshtml" >La Sarita</a>
        </div>
  </div>
     <div class="col-lg-3 col-md-6 col-sm-6"><span class="icon-list-item d-none">Combustible</span>
         <div class="border border-300 rounded-2 p-3 mb-2 text-center bg-white dark__bg-1000 shadow-sm">
          <img class="me-2" src="~/assets/img/Gradient/fuel.png" alt="" width="80" height="95"/>
           <a class="btn btn-outline-primary mt-2 text-center w-100 " href="#" >Combustible</a>
        </div>
  </div>


  
</div>
