@{
  var Usuario = WebSecurity.CurrentUserName;
  var db = Database.Open("IntranetConnection");
  var avatar = db.QueryValue("SELECT Avatar FROM USERS_TABLE WHERE LOWER(Usuario) = LOWER(@0)", Usuario);
}

<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand-lg" style="margin-bottom: 20px;background:rgb(0,135,223)">

    <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <a class="navbar-brand me-1 me-sm-3" href="~/index.cshtml">
      <div class="d-flex align-items-center"><img class="me-2" src="~/assets/img/logoc.png" alt="" width="80" /><span class="font-sans-serif" style="color: white;">Confluencia</span>
      </div>
    </a>
    <div class="collapse navbar-collapse scrollbar" id="navbarStandard">
      <ul class="navbar-nav" data-top-nav-dropdowns="data-top-nav-dropdowns">
        <!-- Menú Tesorería (existente) -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="apps">Tesoreria</a>
          <div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="Tesoreria">
            <div class="bg-white dark__bg-1000 rounded-3 py-2">
              <a class="dropdown-item link-600 fw-medium" href="~/Tesoreria/RendicionCaja.cshtml">Rendicion Caja</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Tesoreria/MovimientosCaja/MovimientoCaja.cshtml">Movimiento Caja</a>
              <p class="nav-link text-700 mb-0 fw-bold">Recibos</p>
              <a class="dropdown-item link-600 fw-medium" href="~/Tesoreria/ReciboConsulta/Consultarecibo.cshtml">Consulta</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Tesoreria/RecibosPreCarga/ReciboPreCarga.cshtml">Pre Carga</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Tesoreria/RecibosPreCargaList.cshtml">Pre Carga Listado</a>
            </div>
          </div>
        </li>
        
        <!-- Menú Habilitados (existente) -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dashboards">Habilitados</a>
          <div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="dashboards">
            <div class="bg-white dark__bg-1000 rounded-3 py-2">
              <a class="dropdown-item link-600 fw-medium" href="~/Habilitados/RecepcionConsulta.cshtml">Recepcion Consulta</a>
            </div>
          </div>
        </li>
        
        <!-- Menú Remitos (existente) -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dashboards">Remitos</a>
          <div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="dashboards">
            <div class="bg-white dark__bg-1000 rounded-3 py-2">
              <a class="dropdown-item link-600 fw-medium" href="~/Remitos/Remitos_control.cshtml">Control</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Remitos/PlanillasDetalle.cshtml">Planillas</a>
            </div>
          </div>
        </li>
        
        <!-- NUEVO - Menú Pedidos -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="pedidos">Pedidos</a>
          <div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="pedidos">
            <div class="bg-white dark__bg-1000 rounded-3 py-2">
              <a class="dropdown-item link-600 fw-medium" href="~/Pedidos/Index.cshtml">Lista de Pedidos</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Pedidos/NuevoPedido.cshtml">Nuevo Pedido</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Pedidos/GenerarRemito.cshtml">Generar Remitos</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Pedidos/Articulos/Index.cshtml">Administrar Articulos</a>
            </div>
          </div>
        </li>
        
        <!-- NUEVO - Menú Planta -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="planta">Planta</a>
          <div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="planta">
            <div class="bg-white dark__bg-1000 rounded-3 py-2">
              <a class="dropdown-item link-600 fw-medium" href="~/Planta/Index.cshtml">Dashboard Planta</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Planta/RemitosLista.cshtml">Remitos Pendientes</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Planta/DespacharRemito.cshtml">Despacho</a>
            </div>
          </div>
        </li>
        
        <!-- Resto de menús existentes -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dashboards">Anticipados</a>
          <div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="dashboards">
            <div class="bg-white dark__bg-1000 rounded-3 py-2">
              <a class="dropdown-item link-600 fw-medium" href="~/Anticipados/ant_listado.cshtml">A Consumir</a>
              <a class="dropdown-item link-600 fw-medium" href="~/Anticipados/controlados.cshtml">Controlados</a>
            </div>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="vencimientos">Vencimientos</a>
          <div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="vencimientos">
            <div class="bg-white dark__bg-1000 rounded-3 py-2">
              <a class="dropdown-item link-600 fw-medium" href="~/Vencimientos/Eventos.cshtml">Listado Vencimientos</a>
            </div>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="Informes">Informes</a>
          <div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="Informes">
            <div class="bg-white dark__bg-1000 rounded-3 py-2">
              <a class="dropdown-item link-600 fw-medium" href="~/Informes/Cemento/InformeCemento.cshtml">Cemento</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
    <!-- Menú de usuario y avatar -->
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
      <li class="nav-item dropdown"><a class="nav-link pe-0 ps-2" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-xl">
            <div class="avatar-name rounded-circle"><span>@avatar</span></div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
          <div class="bg-white dark__bg-1000 rounded-2 py-2">
            <a class="dropdown-item" href="~/pages/user/settings.html">Settings</a>
            <a class="dropdown-item" href="~/pages/authentication/card/logout.html">Logout</a>
          </div>
        </div>
      </li>
    </ul>
</nav>