@{
    var db = Database.Open("IntranetConnection");
    var categorias = db.Query(@"SELECT 
                          CUBDEP.ID_DEPOSITO,
                          CUBDEP.NOMBRE_DEP
                        FROM
                          Baterias_DEPOSITOS  CUBDEP
                        ORDER BY
                          CUBDEP.NOMBRE_DEP");
                        }

<table id="example" class="table table-striped" style="width:70%;margin-right:auto;margin-left:auto;">
            <thead>
            <tr>

                <th class="text-center">EDITAR</th>
               
                <th class="text-center">DEPOSITO</th>

            </tr>
                </thead>
            <tbody>
                @foreach(var row in categorias)
                {
                <tr>
                    <td style="text-align:center"><a href="Rep_detalle_movimientos.cshtml?Bienselected=@row.ID_DEPOSITO"><span class="mif-pencil fg-blue "></span></a></td>
                    <td>@row.NOMBRE_DEP</td>
                </tr>
            }
                </tbody>
        </table>
